extends layout.pug

block content

    form(action=`/updateUsers/` + user.id, method='POST')
        | ID:
        input(type='text', name='id', value=user.id)
        br
        | Name:
        input(type='text', name='name', value=user.name)
        br
        | Email:
        input(type='text', name='email', value=user.email)
        br
        | Address:
        input(type='text', name='address', value=user.address)
        br
        | Age:
        input(type='text', name='age', value=user.age)
        br

        | Edit User:
        input(type='submit', value='Edit User')
